.fileContectButton {
    color: white;
    background-color: rgb(44, 45, 53);
    outline: none;
    border: none;
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.fileContectButton:hover {
    background-color: rgb(60, 62, 71);
}

.fileContectOptionsWrapper {
    width: 150px;
    position: fixed;
    border: 1.5px solid black;
}